body {
  background-color: beige;
}

.top-sites__table {
  width: 50%;
  margin: 0 auto;
}

 .top_sites__table--rank {
  width: 15% !important;
}

.top-sites__table--domain {
  text-align: center;
}

.search__form {
  margin-bottom: 24px;
}

.tablenav {
  display: flex;
  justify-content: center;
}

.tablenav .tablenav-pages ul.page-numbers li {
  display: inline;
  margin-right: 5px;
}